@import "tailwindcss";

[dir="rtl"] {
  font-family: "Noto Sans Arabic", Arial, sans-serif;
}

[dir="ltr"] {
  font-family: "Inter", system-ui, sans-serif;
}

/* Custom RTL utilities */
.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

/* Ensure proper text alignment for RTL */
[dir="rtl"] .text-left {
  text-align: right;
}

[dir="rtl"] .text-right {
  text-align: left;
}

/* Fix space-x-reverse for RTL */
[dir="rtl"] .space-x-reverse> :not([hidden])~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

/* Smooth transitions */
* {
  transition: all 0.2s ease-in-out;
}

 
@theme {
  --color-primary-50: #e6faf5;
  --color-primary-100: #ccf5eb;
  --color-primary-200: #99ecda;
  --color-primary-300: #66e3ca;
  --color-primary-400: #32e0bb; /* Base */
  --color-primary-400: #32e0bb;
  --color-primary-500: #2dcaaa;
  --color-primary-600: #28b499;
  --color-primary-700: #239e88;
  --color-primary-800: #1e8877;
  --color-primary-900: #196266;
  --color-bgcolor-900: #32E0BB;
  --color-descripton:#556885;
  --color-adspart: #2e6290;

  --shadow-card-shadow: 0 0 2px 0 rgba(37, 42, 49, .16), 0 1px 4px 0 rgba(37, 42, 49, .12);
}
